/OPTEdit.dum
/automake.err
/ide.eq0
/opt_cmd.rs2
/ide.bl0
/ide.bl1
/ide.bls
/pluto.b2_
/pluto.bl2
/pluto.bl3
/pluto.d0
/pluto.eq3
/pluto.err
/pluto.fti
/pluto.grp
/pluto.imp
/pluto.jed
/pluto.l0
/pluto.l2v
/pluto.lco
/pluto.out
/pluto.plc
/pluto.prd
/pluto.rpt
/pluto.svl
/pluto.tal
/pluto.tt2
/pluto.tt3
/pluto.tt4
/pluto.tte
/pluto.v2l
/pluto.vcl
/pluto.vco
/pluto.vct
/pluto.xrf
